@model IEnumerable<Gimnasio_FND.Models.ViewModel.UsuarioViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center my-4">Usuarios</h1>




<div class="modal fade" id="modal_create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Crear cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">

                    <label for="cedula_create">Cédula cliente</label>
                    <input required type="number" id="cedula_create" class="form-control">
                </div>

                <div class="form-group">
                    <label for="cliente_create">Nombre cliente</label>
                    <input required type="text" id="cliente_create" class="form-control">
                </div>


                <div class="form-group">
                    <label for="apellidos_create">Apellidos cliente</label>
                    <input required type="text" id="apellidos_create" class="form-control">
                </div>


                <div class="form-group">
                    <label for="email_create">Email</label>
                    <input required type="email" id="email_create" class="form-control">
                </div>

                <div class="form-group">
                    <label for="telefono_create">Teléfono</label>
                    <input required type="number" id="telefono_create" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Crear</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal_update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Editar cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">

                    <label for="cedula_update">Cédula cliente</label>
                    <input required type="number" id="cedula_update" class="form-control">


                </div>

                <div class="form-group">

                    <label for="cliente_update">Nombre cliente</label>
                    <input required type="text" id="cliente_update" class="form-control">


                </div>


                <div class="form-group">

                    <label for="apellidos_update">Apellidos cliente</label>
                    <input required type="text" id="apellidos_update" class="form-control">


                </div>


                <div class="form-group">

                    <label for="email_update">Email</label>
                    <input required type="email" id="email_update" class="form-control">


                </div>

                <div class="form-group">

                    <label for="telefono_update">Teléfono</label>
                    <input required type="number" id="telefono_update" class="form-control">


                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Editar</button>
            </div>
        </div>
    </div>
</div>



<div class="px-4">

    <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#modal_create">
        Crear usuario
    </button>

    <div class="table-responsive">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.Cedula</th>
                        <td>@item.Nombre</td>
                        <td>@item.Apellidos</td>
                        <td>@item.Email</td>
                        <td>@item.Telefono</td>
                        <td>Editar</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>