@model IEnumerable<Gimnasio_FND.Models.ViewModel.MedidaViewModel>
@{
    ViewData["Title"] = "Index";
}
<h1 class="text-center my-4">Medidas</h1>
<div class="modal fade" id="modal_create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Crear medida</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="usuario_create">ID del Usuario</label>
                    <input required type="number" id="usuario_create" class="form-control">
                </div>
                <div class="form-group">
                    <label for="peso_create">Peso</label>
                    <input required type="number" id="peso_create" class="form-control">
                </div>
                <div class="form-group">
                    <label for="masa_create">Porcentaje de Masa</label>
                    <input required type="number" id="masa_create" class="form-control">
                </div>
                <div class="form-group">
                    <label for="grasa_create">Porcentaje de Grasa</label>
                    <input required type="number" id="grasa_create" class="form-control">
                </div>
                <div class="form-group">
                    <label for="altura_create">Altura</label>
                    <input required type="number" id="altura_create" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button onclick="crearMedida('@Url.Action("Create","Medida")')" type="button" class="btn btn-primary">Crear</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Editar cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="usuario_create">ID del Usuario</label>
                    <input required type="number" id="usuario_create" class="form-control">
                </div>
                <div class="form-group">
                    <label for="peso_create">Peso</label>
                    <input required type="number" id="peso_create" class="form-control">
                </div>
                <div class="form-group">
                    <label for="masa_create">Porcentaje de Masa</label>
                    <input required type="number" id="masa_create" class="form-control">
                </div>
                <div class="form-group">
                    <label for="grasa_create">Porcentaje de Grasa</label>
                    <input required type="number" id="grasa_create" class="form-control">
                </div>
                <div class="form-group">
                    <label for="altura_create">Altura</label>
                    <input required type="number" id="altura_create" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Editar</button>
            </div>
        </div>
    </div>
</div>
<div class="px-4">
    <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#modal_create">
        Crear medida
    </button>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID Medida</th>
                    <th>ID Usuario</th>
                    <th>Peso</th>
                    <th>Porcentaje de Masa</th>
                    <th>Porcentaje de Grasa</th>
                    <th>Altura</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.IdMedida</th>
                        <td>@item.IdUsuario</td>
                        <td>@item.Peso</td>
                        <td>@item.PorcentajeMasa</td>
                        <td>@item.PorcentajeGrasa</td>
                        <td>@item.Altura</td>
                        <td class="d-flex ">
                            <button id="@item.IdMedida" data-toggle="modal" data-target="#modal_update" class="btn btn-info mr-1"><i class="far fa-edit"></i></button>
                            <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="~/js/medidas.js"></script>