@model IEnumerable<Gimnasio_FND.Models.ViewModel.RutinaViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.ToList().Count > 0)
{
    <partial name="_CreateRutinaPartial" model="new Gimnasio_FND.Models.ViewModel.RutinaViewModel { IdUsuarioClienteNavigation = Model.First().IdUsuarioClienteNavigation, IdUsuarioCliente = Model.First().IdUsuarioCliente}" />
}

<div class="p-3">

    @if (Model.ToList().Count > 0 && User.IsInRole("Entrenador"))
    {
        <button type="button" class="btn btn-success mb-4" data-toggle="modal" data-target="#rutina_create">
            Crear Rutina
        </button>
    }

    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header">

                <div class="row align-items-center">

                    <p class="m-0">Usuario: @item.IdUsuarioClienteNavigation.Nombre</p>
                    @if (User.IsInRole("Entrenador"))
                    {
                        <div class="ml-4">

                            <a href="@Url.ActionLink("EditRutina","Rutina",new { id = item.IdRutina})" class="btn btn-outline-success">
                                Editar Rutina
                            </a>

                        </div>
                    }


                </div>

            </div>
            <div class="card-body overflow-auto" style="height:250px;">

                @foreach (var value in item.RutinaXejercicios)
                {
                    <p class="card-text">Ejercicio: @value.IdEjercicioNavigation.Descripcion</p>
                    <p>Equipo: @value.IdEjercicioNavigation.Equipo </p>
                    <p>Intensidad: @value.IdEjercicioNavigation.Intensidad</p>

                    <div class="dropdown-divider col-12 col-lg-3"></div>

                }


                <small class="m-0 mr-2 font-italic">Descripcion: @item.Descripcion</small>   

            </div>
        </div>
    }

</div>




